@import "../../../styles/mixins";
@import "../../../styles/variables";

.navDesktop {
  width: 100%;
  background-color: $white;
  height: $nav-height;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;

  &__linksContainer {
    display: flex;
    gap: 1rem;
  }

  &__navLink {
    @include linkStyle($black);
  }

  &__navButton {
    @include buttonStyle($white, $black);
  }
}
