@import "../../../styles/mixins";
@import "../../../styles/variables";

.footer {
  background-color: $black;
  display: flex;
  justify-content: space-between;
  padding: 5rem 3rem;
  height: 300px;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__icon {
    width: 200px;
  }

  &__linksContainer {
    display: flex;
    position: relative;
    gap: 1rem;
  }

  &__link {
    @include linkStyle($white);
  }

  &__iconContainer {
    display: flex;
    justify-content: space-between;
    width: 200px;
    &:hover {
      cursor: pointer;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__invite {
    display: flex;
    gap: $arrow-gap;
  }

  &__arrow--white {
    @include whiteArrow();
  }

  &__copyright {
    @include bodyStyle($grey);
    opacity: 0.4;
  }
}
