@import "../../../styles/variables";
@import "../../../styles/mixins";

.blackTile {
  background-color: $black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whiteTile {
  background-color: $white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textContainer($background-color, $color) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: max-content;
  color: $color;
  // padding: 3rem;
  gap: 1.5rem;
}

.grid {
  display: grid;

  &__image {
    width: 100%;
    display: block;
    height: 100%;
  }

  &__textContainer--black {
    @include textContainer($black, $white);
    border-left: 8px solid;
    border-image-slice: 1;
    border-width: 8px;
    padding: 3rem;
  }

  &__borderGradient {
    border-image-source: $accent;
  }

  &__textContainer--white {
    @include textContainer($white, $black);
    padding: 3rem;
  }

  &__title {
    @include headerStyle();
  }

  &__textBody--grey {
    @include bodyStyle($grey);
  }

  &__textBody--black {
    @include bodyStyle($black);
  }

  &__linkContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__link--white {
    @include linkStyle($white);
  }

  &__link--black {
    @include linkStyle($black);
  }

  &__arrow--black {
    @include blackArrow;
  }

  &__arrow--white {
    @include whiteArrow();
  }

  @media screen and (min-width: 481px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &__row-1-column-1 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &__row-1-column-2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &__row-2-column-1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__row-2-column-2 {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__row-3-column-1 {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &__row-3-column-2 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &__textContainer--white {
      padding: 0 5rem;
    }

    &__textContainer--black {
      padding: 0 5rem;
    }
  }

  @media screen and (min-width: 1008px) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);

    &__row-1-column-1 {
      grid-column-start: 4;
      grid-column-end: 8;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &__row-1-column-2 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    &__row-2-column-1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__row-2-column-2 {
      grid-column-start: 5;
      grid-column-end: 8;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    &__row-3-column-1 {
      grid-column-start: 4;
      grid-column-end: 8;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &__row-3-column-2 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      grid-row-end: 4;
    }

    &__textContainer--white {
      padding: 10rem;
    }

    &__textContainer--black {
      padding: 0 10rem;
      gap: 4rem;
    }
  }
}
