@import "../../../styles/variables";
@import "../../../styles/mixins";

@mixin textContainer($background-color, $color) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  width: 100%;
  color: $color;
  background-color: $background-color;
  padding: 3rem;
}

.grid {
  display: grid;

  @media screen and (min-width: 481px) {
    grid-template-columns: repeat(5, 1fr);
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__textContainer {
    @include textContainer($black, $white);
  }

  &__title {
    @include headerStyle();
  }

  &__textBody {
    @include bodyStyle();
    color: grey;
  }

  &__linkContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__link {
    @include linkStyle($white);
  }

  &__whiteArrow {
    @include whiteArrow();
  }
}
