.blackTile {
  background-color: #000000;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whiteTile {
  background-color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid__image {
  width: 100%;
  display: block;
  height: 100%;
}

.grid__textContainer--black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #ffffff;
  gap: 1.5rem;
  border-left: 8px solid;
  border-image-slice: 1;
  border-width: 8px;
  padding: 3rem;
}

.grid__borderGradient {
  border-image-source: linear-gradient(10deg, #bc7198 0%, #ffc593 10%, #5a77ff 80%);
}

.grid__textContainer--white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: #000000;
  gap: 1.5rem;
  padding: 3rem;
}

.grid__title {
  font-family: "dm_sansbold", sans-serif;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 48px;
}

.grid__textBody--grey {
  font-family: "dm_sansregular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #dfdfdf;
}

.grid__textBody--black {
  font-family: "dm_sansregular", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.grid__linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.grid__link--white {
  font-family: "dm_sansbold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
}

.grid__link--white:hover {
  text-decoration: underline;
  cursor: pointer;
}

.grid__link--black {
  font-family: "dm_sansbold", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #000000;
}

.grid__link--black:hover {
  text-decoration: underline;
  cursor: pointer;
}

.grid__arrow--black {
  width: 50px;
}

.grid__arrow--black:hover {
  cursor: pointer;
}

.grid__arrow--white {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(109deg) brightness(102%) contrast(102%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(109deg) brightness(102%) contrast(102%);
  width: 50px;
}

.grid__arrow--white:hover {
  cursor: pointer;
}

@media screen and (min-width: 481px) {
  .grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .grid__row-1-column-1 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .grid__row-1-column-2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .grid__row-2-column-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .grid__row-2-column-2 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .grid__row-3-column-1 {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid__row-3-column-2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid__textContainer--white {
    padding: 0 5rem;
  }
  .grid__textContainer--black {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1008px) {
  .grid {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .grid__row-1-column-1 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 8;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .grid__row-1-column-2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .grid__row-2-column-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .grid__row-2-column-2 {
    -ms-grid-column: 5;
        grid-column-start: 5;
    grid-column-end: 8;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .grid__row-3-column-1 {
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 8;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid__row-3-column-2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .grid__textContainer--white {
    padding: 10rem;
  }
  .grid__textContainer--black {
    padding: 0 10rem;
    gap: 4rem;
  }
}
/*# sourceMappingURL=StoriesandImages.module.css.map */