@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.compare {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 5rem;
  gap: 2rem;

  hr {
    border: none;
    border-bottom: 1px solid $black;
  }

  &__title {
    @include subheading2Style($black);
  }
}
