// Media breakpoints:
//    Mobile: max-width 375px
//    Tablet: min-width 376px
//    Desktop: min-width 769px

@font-face {
  font-family: "dm_sansregular";
  src: url("/fonts/dmsans-regular-webfont.woff2") format("woff2"),
    url("/fonts/dmsans-regular-webfont.woff") format("woff"),
    url("/fonts/dmsans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dm_sansbold";
  src: url("/fonts/dmsans-bold-webfont.woff2") format("woff2"),
    url("/fonts/dmsans-bold-webfont.woff") format("woff"),
    url("/fonts/dmsans-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: calc(60% + 0.8vmin);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 1rem;
}
