@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.compare {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;

    &__title {
        @include headerStyle;
    }

    &__subheading {
        @include subheading3Style($black);
    }

    &__table {
        display: grid;
        margin-top: 4rem;
        width: 100%;
        grid-template-columns: 40% 1fr 1fr 1fr;
        // justify-items: center;
        gap: 2rem;
        padding: 0 2rem;

        hr {
            grid-column: span 4;
        }
    }

    @media screen and (min-width: 1008px) {
        max-width: 60%;
        margin: 0 auto;
    }

}